html {
    padding: 0 5px;
    margin: 0 auto;
}

section {
    background-color: #4d4b4b;
    height: 100px;
    display: flex;
}

img {
    height: 100%;
    width: auto;
    flex-basis: 1;
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

li {
    padding: 0px 10px 5px 10px;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
}